<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Email confirmation</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="container">
            <form class="form-signin" th:action="@{/unauth/regist/user_info/confirm}" method="post">
                <h2 class="form-signin-heading">Code confirmation</h2>

                <th:block th:object="${emailForm}">
                    <input type="hidden" id="email" th:field="*{email}" class="form-control" required="required"/>
                </th:block>

                <th:block th:object="${confirmCodeForm}">
                    <div th:if="${#fields.hasErrors('confirmCode')}" class="alert alert-danger" role="alert" th:errors="*{confirmCode}">Confirm Code Error</div>
                    <p>
                        <label for="confirmCode" class="sr-only">confirmCode</label>
                        <input type="text" id="confirmCode" th:field="*{confirmCode}" class="form-control" placeholder="Confirm Code" required="required" autofocus/>
                    </p>
                </th:block>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
</html>