<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>User information</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="container">
            <form class="form-signin" th:action="@{/unauth/regist/user_info}" method="post">
                <h2 class="form-signin-heading">User information</h2>

                <p>
                    <label for="phoneNumber" class="sr-only">phoneNumber</label>
                    <input type="text" id="phoneNumber" disabled="true" th:value="${phoneNumber}" class="form-control" />
                </p>

                <th:block th:object="${passwordForm}">
                    <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" role="alert" th:errors="*{password}">Password Error</div>
                    <p>
                        <label for="password" class="sr-only">password</label>
                        <input type="text" id="firstName" th:field="*{password}" class="form-control" placeholder="Password" required="required" autofocus/>
                    </p>

                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="alert alert-danger" role="alert" th:errors="*{confirmPassword}">Confirm Password Error</div>
                    <p>
                        <label for="confirmPassword" class="sr-only">confirmPassword</label>
                        <input type="text" id="confirmPassword" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm Password" required="required" autofocus/>
                    </p>
                </th:block>

                <th:block th:object="${userInfoForm}">
                    <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" role="alert" th:errors="*{firstName}">First Name Error</div>
                    <p>
                        <label for="firstName" class="sr-only">firstName</label>
                        <input type="text" id="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name" required="required" autofocus/>
                    </p>

                    <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" role="alert" th:errors="*{lastName}">Last Name Error</div>
                    <p>
                        <label for="lastName" class="sr-only">lastName</label>
                        <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="required" autofocus/>
                    </p>

                    <div th:if="${#fields.hasErrors('address')}" class="alert alert-danger" role="alert" th:errors="*{address}">Address Error</div>
                    <p>
                        <label for="address" class="sr-only">address</label>
                        <input type="text" id="address" th:field="*{address}" class="form-control" placeholder="address" autofocus/>
                    </p>

                    <div th:if="${#fields.hasErrors('address2')}" class="alert alert-danger" role="alert" th:errors="*{address2}">Address2 Error</div>
                    <p>
                        <label for="address2" class="sr-only">address2</label>
                        <input type="text" id="address2" th:field="*{address2}" class="form-control" placeholder="address2" autofocus/>
                    </p>
                </th:block>

                <th:block th:object="${emailForm}">
                    <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" role="alert" th:errors="*{email}">email Error</div>
                    <p>
                        <label for="email" class="sr-only">email</label>
                        <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="email" autofocus/>
                    </p>
                </th:block>


                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
</html>