<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>User information</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="container">
            <form class="form-signin" th:action="@{/user_info}" th:object="${userInfoForm}" method="post">
                <h2 class="form-signin-heading">User information</h2>
                <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" role="alert" th:errors="*{firstName}">First Name Error</div>
                <p>
                    <label for="firstName" class="sr-only">firstName</label>
                    <input type="text" id="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name" required="required" autofocus/>
                </p>
                <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" role="alert" th:errors="*{lastName}">Last Name Error</div>
                <p>
                    <label for="lastName" class="sr-only">lastName</label>
                    <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="required" autofocus/>
                </p>
                <div th:if="${#fields.hasErrors('address')}" class="alert alert-danger" role="alert" th:errors="*{address}">Address Error</div>
                <p>
                    <label for="address" class="sr-only">address</label>
                    <input type="text" id="address" th:field="*{address}" class="form-control" placeholder="address" autofocus/>
                </p>
                <div th:if="${#fields.hasErrors('address2')}" class="alert alert-danger" role="alert" th:errors="*{address2}">Address2 Error</div>
                <p>
                    <label for="address2" class="sr-only">address2</label>
                    <input type="text" id="address2" th:field="*{address2}" class="form-control" placeholder="address2" autofocus/>
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
</html>